{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'destinations/css/destination.css' %}" type = 	"text/css"/>
<link rel="stylesheet" href="{% static 'blog/css/bloghome.css' %}" type = 	"text/css"/>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:900' rel='stylesheet' type='text/css'>
{% endblock %}

<title>{% block pagetitle %} Travel Log | Blogs {% endblock %}</title>

{% block content %}
	<div class="container" style="text-align:center" id="blog_button">
		<div style="margin-top:80px">
			<h3 class="blue-text text-darken-4"> Successfully submitted</h3>
		<p class="blue-text">Your blog will be soon posted after verification from our team. Thanks ..!! :) <p>
</div>
		<div class="row" style="text-align:center;margin-top:40px">
		
		<a id="blog_button" class="btn blue" href="{% url 'home' %}">home</a>
		</div>
		<div class="row" style="text-align:center" >
		<a id="blog_button" class="btn pink" href="{% url 'blog-add' %}">Add Your Blog</a>
		
		</div>
	</div>
{% endblock %}
