{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'destinations/css/destination.css' %}" type = 	"text/css"/>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:900' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
	<div class="container">
		<a class="btn pink" href="{% url 'blog-add' %}">Add Your Blog</a>
		{% if blogs %}
			{% for i in blogs %}
			<div class="card addcard">
				<h5>{{ i.blog.title }}</h5>
				<hr>
				<p> {{ i.blog.creator_name }}</p>
				<p> {{ i.blog.creator_contactno }}</p>
				<p> {{ i.blog.description }}</p>
				<br>
				<p>Images</p>
				<hr>
					{% for j in i.images %}
						<img class="materialboxed" width="200" src="{{ j.image.url }}">
					{% endfor %}
			</div>
			{% endfor %}
		{% else %}
		<p>No Blogs Right Now</p>
		{% endif %}
	</div>        
{% endblock %}
{% block scripts %}
	<script>
		$(".button-collapse").sideNav(); 
		$('.slider').slider({full_width: true, height: 400,interval:3000});
	</script>
{% endblock %}