<!DOCTYPE html>
<html>
    {% load staticfiles %}
    <head>
        <title>{% block pagetitle %} Going Places | LETS EXPLORE {% endblock %}</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" 		rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'base/css/materialize.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'base/css/my_own.css' %}" type = 	"text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
	


{% block extrahead %}{% endblock %}
   
    </head>

<body>
    	
	<nav>
    	<div class="nav-wrapper grey darken-2 " id="header">
      <a href="#!" class="brand-logo search_text_font">&nbsp&nbsp&nbsp&nbsp&nbsp GoingPlaces</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'destination' %}" class="search_text_font" >Destinations</a></li>
        <li><a href="badges.html" class="search_text_font" >Review your trip</a></li>
        <li><a href="{% url 'contact' %}" class="search_text_font" >Contact us</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{% url 'destination' %}" class="search_text_font" >Destinations</a></li>
        <li><a href="badges.html" class="search_text_font" >Review your trip</a></li>
        <li><a href="{% url contact %}" class="search_text_font">Contact us</a></li>
      </ul>
    </div>
  </nav>
    

<div class="row" id="search_box">	

	<div class="col s8 m8 l6 offset-l3 offset-m2 offset-s2">
		<nav>
		    <div class="nav-wrapper">
		      <form>
	
			<div class="input-field white">
			  <input id="search" type="search" class="search_text_font align-center flow-text" placeholder="EXPLORE , PLAN & BOOK " required>
			  <label for="search"><i class="material-icons">search</i></label>
			  <i class="material-icons">close</i>
			</div>
		      </form>
		    </div>
		  </nav>
	</div>

    </div>

 

	


		{% block content %}
		{% endblock %}


	<footer class="page-footer grey darken-2">
          <div class="container">
            <div class="row">
              <div class="col l12 s12 m12">
                <h3 class="white-text search_text_font center-align">Let your memory be your travel bag.</h3>
                
              </div>
              <div class="row">
                <h5 class="white-text search_text_font">Follow us on :</h5>
                	<div class="col s3 m3 l3">
                  <a href="#!"><img src="{% static 'base/images/facebook.png' class="responsive-img" %}"></a>
                  	</div>
			<div class="col s3 m3 l3">
                  <a href="#!"><img src="{% static 'base/images/twitter.png' height=30px width=30px %}" class="responsive-img"></a>
                  	</div>
			<div class="col s3 m3 l3">
                  <a href="#!"><img src="{% static 'base/images/instagram.png' height=30px width=30px %}" class="responsive-img"></a>
                  	</div>
			<div class="col s3 m3 l3">
                  <a href="#!"><img src="{% static 'base/images/google.png' height=30px width=30px %}" class="responsive-img"></a>
                  	</div>
               
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <h6 class="center-align">© 2016 Copyright GoingPlaces</h6>
            
            </div>
          </div>
        </footer>







<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'base/js/materialize.min.js' %}"></script>
<script>
$(".button-collapse").sideNav();
</script>
       
	{% block scripts %}{% endblock %}
   
</body>
</html>
	








