{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'base/css/home.css' %}" type = 	"text/css"/>

<link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %} 


<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 450px; overflow: hidden;">
        <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{% static "base/images/wanderer1.jpg" %}" />

		<div style="position: absolute; top: 30px; left: 50%; width: 480px; height: 120px; font-size: 50px; line-height: 60px;"><h3 class="light black-text text-lighten-6" id="wanderer" >NOT ALL THOSE WHO</BR>WANDER ARE LOST.</h3></div>


		
            </div>    
	{% for p in images %} 

            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ p.image.url }}" />
            </div>

        {% endfor %}    
            
        
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
    </div>

<style>
        
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url({% static 'destinations/images/b05.png' %}) no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url({% static 'destinations/images/a22.png' %}) center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
    </style>

	

    
	

<div class="container ">
	<div id="top_destination_heading">
		<h4 id="wanderer" class="blue-text center-align text-darken-4"  >TOP DESTINATIONS</h4>
	</div>

	<div class="row">
	
	{% for d in destination %}
	<div class="col s4 m4 l3 offset-l1 offset-m2 offset-s1">
		 	 
		<div id="voyages_div">
            		<div id="voyages_pic_div">
              			<a href="{% url 'destination-overview' pk=d.pk %}"><img id="voyage_pic"  height=100% width=100% src="{{ d.image.url }}" ></a>
			</div>				              			

			<div style="text-align:center">
              			<a href="#" class="grey-text text-darken-2 search_text_font"><h5 class="align-center" >{{ d.title }}</h5></a>
            		</div>			   
		</div>
	</div>
	{% endfor %}
	</div>

<footer>
<div class="row">
<div class="col s6 m6 l6 offset-l3 offset-m3 offset-s3 center">
<form action="{% url 'destination' %}">
<button class="btn waves-effect waves-light center lime accent-4 search_text_font" type="submit" >MORE
    <i class="material-icons right">send</i>
  </button>
</form>
</div>
</div>
</footer>
</div>

<div  class="blue-grey lighten-4">
<div class="container">
	<div  style="padding-top:20px" id="top_destination_heading">
		<h4 id="wanderer" class="blue-text center-align text-darken-4"  >BLOGS</h4>
	</div>


	{% if blogs %}
			<div class="carousel ">
			{% for i in blogs %}
			<a class="carousel-item" href="{% url 'blog-home' %}">
			<div id="blog_card" class="card addcard">
				<h5 class="search_text_font" style="text-align:center">{{ i.blog.title }}</h5>
				<hr>
				<p><span>Name :</span> {{ i.blog.creator_name }}</p>
				<p> {{ i.blog.creator_contactno }}</p>
				<p><span>Rating :</span> {{ i.blog.creator_rating }}</p>
				<p> {{ i.blog.description }}</p>


				<hr>

					{% for j in i.images %}

					<div id="over" style="content-align:center">
					<img   src="{{ j.image.url }}">
					</div>
					{% endfor %}

			</div>
			
			</a>
			{% endfor %}
			</div>
		{% else %}
		<p>No Blogs Right Now</p>
		{% endif %}




	
<footer style="margin-top:30px">
<div style="margin-bottom:0px" class="row">
<div class="col s6 m6 l6 offset-l3 offset-m3 offset-s3 center">
<form action="{% url 'blog-home' %}">
<button style="margin-bottom:30px" class="btn waves-effect waves-light center pink accent-3 search_text_font" type="submit" >MORE
    <i class="material-icons right">send</i>
  </button>
</form>
</div>
</div>
</footer>
</div>



</div>





{% block scripts %}
<script>
$('.carousel').carousel();
</script>	
<script type="text/javascript" src="{% static 'destinations/js/jssor.slider.mini.js' %}" ></script>
    <!-- use jssor.slider.debug.js instead for debug -->
    <script>
        jQuery(document).ready(function ($) {
            
            var jssor_1_SlideoTransitions = [
              [{b:5500,d:3000,o:-1,r:240,e:{r:2}}],
              [{b:-1,d:1,o:-1,c:{x:51.0,t:-51.0}},{b:0,d:1000,o:1,c:{x:-51.0,t:51.0},e:{o:7,c:{x:7,t:7}}}],
              [{b:-1,d:1,o:-1,sX:9,sY:9},{b:1000,d:1000,o:1,sX:-9,sY:-9,e:{sX:2,sY:2}}],
              [{b:-1,d:1,o:-1,r:-180,sX:9,sY:9},{b:2000,d:1000,o:1,r:180,sX:-9,sY:-9,e:{r:2,sX:2,sY:2}}],
              [{b:-1,d:1,o:-1},{b:3000,d:2000,y:180,o:1,e:{y:16}}],
              [{b:-1,d:1,o:-1,r:-150},{b:7500,d:1600,o:1,r:150,e:{r:3}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:9100,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:10000,d:1600,x:-200,o:-1,e:{x:16}}]
            ];
            
            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };
            
            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
            
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>



{% endblock %}





{% endblock %}
