{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'base/css/home.css' %}" type = 	"text/css"/>

<link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>

{% endblock %}

{% block content %} 

    
	<div class="slider" id="slider_div">
    <ul class="slides">
      <li>
        <img class="slider_images" src="{% static 'base/images/wanderer1.jpg' %}"> <!-- random image -->
        <div class="caption right-align">
          
          <h3 class="light grey-text text-darken-3" id="wanderer">NOT ALL THOSE  WHO</BR>WANDER ARE LOST.</h3>
        </div>
      </li>
      <li>
        <img src="{% static 'base/images/indian2.jpeg' %}" > <!-- random image -->
        
      </li>
      <li>
        <img src="{% static 'base/images/indian2.jpg' %}"> <!-- random image -->
        
      </li>
	<li>
        <img src="{% static 'base/images/indian1.jpg' %}"> <!-- random image -->
        
      </li>
      <li>
        <img src="{% static 'base/images/indian3.jpg' %}"> <!-- random image -->
        
      </li>
    </ul>
  </div>

<div class="container ">
	<div>
		<h2 id="wanderer" class="center-align"  >VOYAGES</h2> 
	</div>

	<div class="row">
	

	<div class="col s5 m4 l3 offset-l1 offset-m2 offset-s1">	 	 
		<div class="card">
            		<div class="card-image">
              			<img id= class="responsive-img" src="{% static 'base/images/indian3.jpg' %}">
			</div>				              			

			<div class="card-action">
              			<a href="#" center="align-center"  ><span class="card-title align-center" >Card Title</span></a>
            		</div>			   
		</div>
	</div>

	<div class="col s5 m4 l3 offset-l1 offset-m2 offset-s1">	 	 
		<div class="card">
            		<div class="card-image">
              			<img id= class="responsive-img" src="{% static 'base/images/indian3.jpg' %}">
			</div>				              			

			<div class="card-action">
              			<a href="#" center="align-center"  ><span class="card-title align-center" >Card Title</span></a>
            		</div>			   
		</div>
	</div>
	
	<div class="col s5 m4 l3 offset-l1 offset-m2 offset-s1">	 	 
		<div class="card">
            		<div class="card-image">
              			<img id= class="responsive-img" src="{% static 'base/images/indian3.jpg' %}">
			</div>				              			

			<div class="card-action">
              			<a href="#" center="align-center"  ><span class="card-title align-center" >Card Title</span></a>
            		</div>			   
		</div>
	</div>

	<div class="col s5 m4 l3 offset-l1 offset-m2 offset-s1">	 	 
		<div class="card">
            		<div class="card-image">
              			<img id= class="responsive-img" src="{% static 'base/images/indian3.jpg' %}">
			</div>				              			

			<div class="card-action">
              			<a href="#" center="align-center"  ><span class="card-title align-center" >Card Title</span></a>
            		</div>			   
		</div>
	</div>

	<div class="col s5 m4 l3 offset-l1 offset-m2 offset-s1">	 	 
		<div class="card">
            		<div class="card-image">
              			<img id= class="responsive-img" src="{% static 'base/images/indian3.jpg' %}">
			</div>				              			

			<div class="card-action">
              			<a href="#" center="align-center"  ><span class="card-title align-center" >Card Title</span></a>
            		</div>			   
		</div>
	</div>

	<div class="col s5 m4 l3 offset-l1 offset-m2 offset-s1">	 	 
		<div class="card">
            		<div class="card-image">
              			<img id= class="responsive-img" src="{% static 'base/images/indian3.jpg' %}">
			</div>				              			

			<div class="card-action">
              			<a href="#" center="align-center"  ><span class="card-title align-center" >Card Title</span></a>
            		</div>			   
		</div>
	</div>
	</div>
</div>

{% block scripts %}
	
<script>
$('.slider').slider({full_width: true, height: 450,interval:4000});
$('.parallax').parallax();

</script>


{% endblock %}





{% endblock %}
