#heading{
font-family: 'Titillium Web', sans-serif;
}

#destination_block_text
{
font-family: 'Courgette', cursive;
}

#attraction_image{
border-radius:5px;
}
#attraction_image_div
{

width:300px;
margin:auto;
}

#whentovisit_image_div
{

width:70px;
height:70px;
margin:auto;
}

#whentovisit_image_div_mobile
{

width:40px;
height:40px;
margin:auto;
}








#attraction_card_div
{
height:650px;
}

#must_card_div
{
height:450px;
}

#things_card_div
{
height:500px;
}

#musteat_card_div
{
height:450px;
}

#shoppingplaces_card_div
{
height:500px;
}

#whentovisit_card_div
{
height:150px;
}

#mobile_heading
{
font-family: 'Alegreya Sans', sans-serif;
}

#attraction_image_div_mobile
{
width:250px;
margin:auto;
}








