{% extends 'destination.html' %}
{% block destination_content %}	

<div id="destination_heading">
	<h2 style="text-align:center" class="blue-text text-darken-4 search_text_font" id="heading">When to visit</h2>
  <hr>
</div>	

	<div class="row">
{% for p in whentovisit %}	
	{% if p.jan %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">JANUARY</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">JANUARY</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}

	{% if p.feb %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">FEBRUARY</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">FEBRUARY</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}
	
	{% if p.mar %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">MARCH</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">MARCH</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}

	{% if p.apr %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">APRIL</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3 ">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">APRIL</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}
	

	{% if p.may %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">MAY</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">MAY</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}

	{% if p.jun %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">JUNE</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">JUNE</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}
	
	{% if p.jul %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">JULY</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">JULY</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}

	{% if p.aug %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">AUGUST</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3 ">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">AUGUST</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}
	

	{% if p.sep %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">SEPTEMBER</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">SEPTEMBER</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}

	{% if p.oct %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">OCTOBER</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">OCTOBER</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}
	
	{% if p.nov %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">NOVEMBER</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">NOVEMBER</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}

	{% if p.dec %}
        <div class="col s12 m10 l3">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">DECEMBER</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/checked.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	{% else %}
	<div class="col s12 m10 l3 ">
          <div  class="card white z-depth-1">
            <div id="whentovisit_card_div" class="card-content black-text" id="center_div" style="text-align:center">
              <span class="card-title grey-text text-darken-2" id="heading">DECEMBER</span>
		<div id="whentovisit_image_div">
		<img  id="attraction_image" src="../../../static/destinations/images/cancel.png" height=100% width=100%>
              </div >
            	
          </div>
        </div>	
	</div>
	
	{% endif %}
	




{% endfor %}
	</div>



{% endblock %}
