{% extends 'base/base.html' %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'destinations/css/desthome.css' %}" type = 	"text/css"/>
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:900' rel='stylesheet' type='text/css'>
{% endblock %}
<title>{% block pagetitle %} Travel Log | Destinations {% endblock %}</title>


{% block content %}
<div style="text-align:center" id="destination_heading">
	<h3 class="blue-text text-darken-4 search_text_font" id="heading">INTERNATIONAL DESTINATIONS - AFRICA</h3>
</div>

<ul id="dropdown1" class="dropdown-content black-text">
<li><a href="{% url 'international_destination' %}" class="search_text_font black-text">ALL</a></li>
  <li><a href="{% url 'african_destination' %}" class="search_text_font black-text">AFRICA</a></li>
  <li><a href="{% url 'american_destination' %}" class="search_text_font black-text">AMERICA</a></li>
  <li><a href="{% url 'asian_destination' %}" class="search_text_font black-text">ASIA</a></li>
  <li><a href="{% url 'australian_destination' %}" class="search_text_font black-text">AUSTRALIA</a></li>
  <li><a href="{% url 'european_destination' %}" class="search_text_font black-text">EUROPE</a></li>

</ul>
<div class="row">
<div class="col l10 m10 s12 offset-l1 offset-m1">
  <nav id="nav_curve">
  <div  id="nav_curve" class="nav-wrapper pink darken-1">
    
    <ul id="search_narrow_ul" class="left">
	<li><a href="{% url 'indian_destination' %}" class="search_text_font">Domestic</a></li>
 
      
     
      <!-- Dropdown Trigger -->
      <li><a class='dropdown-button search_text_font' data-hover="true" data-beloworigin="true" href='#' data-activates='dropdown1'>International</a></li>
	<li><a href="{% url 'top_searched_destination' %}" class="search_text_font">Top Searched</a></li>
    </ul>
  </div>
</nav>
</div>
</div>




<div id="destination_container">

	<div class="row">
		
		{% for d in destinations %}
		<div class="col s6 m4 l4 z-depth-1 hoverable">
			
			<div id="voyages_div">
				<div id="voyages_pic_div">
					<a href="{% url 'destination-overview' pk=d.pk %}"><img id="voyage_pic" class="z-depth-1" height=100% width=100% src="{{ d.image.url }}" ></a>
				</div>				              			

				<div style="text-align:center">
					<a href="{% url 'destination-overview' pk=d.pk %}" class="flow-text grey-text text-darken-2 search_text_font"><h5 class="align-center" >{{ d.title|capfirst }}</h5></a>
				</div>			   
			</div>
		</div>
		{% endfor %}
	</div>


</div>
<div class="pagination" style="text-align:center">
	<span class="step-links">
		<span class="current search_text_font" style="text-align:center">
		{% if destinations.has_previous %}
		<a id="destination_next_previous" href="?page={{ destinations.previous_page_number }}"><i class="material-icons small">chevron_left</i></a>
		{% endif %}
		
			Page {{ destinations.number }} of {{ destinations.paginator.num_pages }}.
		
		{% if destinations.has_next %}
		<a  href="?page={{ destinations.next_page_number }}"><i id="destination_next_previous" class="material-icons small">chevron_right</i></a>
		{% endif %}
		</span>
	</span>
</div>
{% endblock %}
