{% extends 'destination.html' %}
{% block destination_content %}	

<div id="destination_heading">
	<h2 style="text-align:center" class="blue-text text-darken-4 search_text_font z-depth-2" id="heading">Way to reach</h2>
</div>
{% if destination.lat %}
<div class="card addcard">
	<h5>Map</h5>
	<hr>
	<div id="map" class="card addcard">
	</div>
</div>

{% endif %}
<div class="row">
	{% for p in waystoreach %}
	<div class="col s12 m10 l5 offset-l1">
		<div  class="card white z-depth-1">
			<div id="mustbuy_card_div" class="card-content black-text" id="center_div" style="text-align:center">
				<h5 class="card-title grey-text text-darken-2" id="destination_block_text">{{p.title}}</h5>
				<div id="attraction_image_div">
					<img  id="attraction_image" class="materialboxed" data-caption="{{p.title }}" src="{{p.photo.url}}" height=100% width=100%>
				</div >
			<span class="center-align flow-text grey-text text-darken-3" id="destination_block_text">{{p.description | safe }}<span>
			</div>
		</div>	
	</div>
	{% endfor %}
</div>
<style type="text/css">
	#map,#map2{
		height: 300px;
	}
</style>
{% endblock %}


{% block basescripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVOI9ZtV8oLhuGtEyDA02xZoZCGvONz2I&callback=mappymappy"async>
</script>
<script type="text/javascript">
function mappymappy(){
	initMap(parseFloat('{{ destination.lat }}'),parseFloat('{{ destination.lon }}'));
}
var map;
function initMap(lat,lon) {
	var myLatLng = {lat: lat, lng: lon};
	map = new google.maps.Map(document.getElementById('map'), {
	center: myLatLng,
	scrollwheel: false,
	zoom: 7
	});
	var marker = new google.maps.Marker({
	map: map,
	position: myLatLng,
	title: 'destination'
	});
}
</script>
{% endblock %}


