<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <title>{% block pagetitle %} Travel Log | LETS EXPLORE {% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content = "width=device-width, initial-scale = 1">
  {% load staticfiles %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"    rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'base/css/my_own.css' %}" type =   "text/css"/>
  <title>Contact</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  {% include 'material/includes/material_css.html' %}
  {% block extrahead %}{% endblock %}

</head>

<body>
<div class="navbar-fixed">
	<nav>
   <div class="nav-wrapper  blue accent-3" id="header">
    <a href="{% url 'home' %}" class="brand-logo search_text_font">&nbsp&nbsp&nbsp&nbsp&nbspThe Travel Log</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'destination' %}" class="search_text_font" >Destinations</a></li>
      <li><a href="{% url 'blog-home' %}" class="search_text_font" >Blogs</a></li>
      <li><a href="{% url 'contact' %}" class="search_text_font" >Contact us</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
	<li>
	<form action="{% url 'search' %}">
         <div class="input-field white">
           <input name="search" id="search1" type="search" class="search_text_font align-center flow-text" placeholder="SEARCH" required>
           <label for="search1"><i class="material-icons">search</i></label>
           <i class="material-icons">close</i>
         </div>
       </form>
	</li>


      <li><a href="{% url 'destination' %}" class="search_text_font" >Destinations</a></li>
      <li><a href="{% url 'blog-home' %}" class="search_text_font" >Blogs</a></li>
      <li><a href="{% url 'contact' %}" class="search_text_font">Contact us</a></li>
    </ul>
  </div>
</nav>
</div>

<div style="margin-top:20px" class="row" id="search_box">

	<div class="col s10 m8 l6 offset-l3 offset-m2 offset-s1 ">
		<nav>
      <div class="nav-wrapper white">
        <form action="{% url 'search' %}">
         <div class="input-field white">
           <input name="search" id="search" type="search" class="search_text_font align-center flow-text" placeholder="EXPLORE , PLAN & BOOK " required>
           <label for="search"><i class="material-icons">search</i></label>
           <i class="material-icons">close</i>
         </div>
       </form>
     </div>
   </nav>
 </div>

</div>






{% block content %}
{% endblock %}


<footer style="margin-top:0px" class="page-footer  blue accent-4">
  <div>
    <div class="row">
      <div class="col l9 s6 m6" style="text-align:center">
        <h1 class="white-text search_text_font flow-text ">Let your memory be your travel bag.</h1>

      </div>
      <div class="col l3 s6 m6">
        <h5 class="white-text search_text_font left-align">Follow us on :</h5>

        <a href="https://www.facebook.com/The-Travel-Log-1804973756388947/?notif_t=fbpage_fan_invite&notif_id=1467832860386480" ><img src="{% static 'base/images/facebook.png' %}" height=30px width=30px></a>

        <a href="#!"><img src="{% static 'base/images/twitter.png' %}" height=30px width=30px></a>

        <a href="https://www.instagram.com/thetravellog.in/?hl=en"><img src="{% static 'base/images/instagram.png' %}" height=30px width=30px></a>

        <a href="#!"><img src="{% static 'base/images/google.png' %}" height=30px width=30px></a>


      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <h6 class="center-align">© 2016 Copyright The Travel Log</h6>

    </div>
  </div>
</footer>







<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{% include 'material/includes/material_js.html' %}
<script>
  $(".button-collapse").sideNav();
</script>

{% block scripts %}{% endblock %}
{% block basescripts %}{% endblock %}

</body>
</html>









